<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
    <h3>Add Invoice</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/createInvoice}" th:object="${inv}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="invoice" class="col-form-label">Invoice</label>
                            <input type="text" th:field="*{invoice}" class="form-control"
                                   id="invoice" placeholder="Invoice" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="customer" class="col-form-label">Customer</label>
                            <input type="text" th:field="*{customer}" class="form-control"
                                   id="customer" placeholder="Customer" />
                        </div>
                        <div class="form-group col-md-8">
                            <label>Products</label>
                            <ul>
                                <li th:each="product : ${selectProducts}">
                                    <input type="checkbox" th:field="*{productsList}" th:value="${product.getId()}" />
                                    <label th:text="${product.getName()}"></label>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="details" class="col-form-label">Details</label>
                            <textarea type="text" th:field="*{details}" class="form-control"
                                      id="details" placeholder="Details"></textarea>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>